@media (max-width: 600px){
    .products{
        display: inherit;
        height: auto;
    }
    .product{
        margin-top: auto;

    }
    .main_section{
        padding: 4%;
    }
    .section-1{
        display: inherit;
    }
    .section-user, .sec-nav, .section-details{
        display: inherit;
    }
}